node-red/flows.json
[
    {
        "id": "healthcare_iot_tab",
        "type": "tab",
        "label": "Healthcare IoT Monitor",
        "disabled": false,
        "info": "Main healthcare IoT monitoring flows"
    },
    {
        "id": "mqtt_broker_config",
        "type": "mqtt-broker",
        "name": "HiveMQ Public Broker",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "nodered_healthcare",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "heart_rate_mqtt",
        "type": "mqtt in",
        "z": "healthcare_iot_tab",
        "name": "Heart Rate",
        "topic": "healthcare/vitals/heart_rate",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker_config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 80,
        "wires": [["parse_heart_rate", "hr_extract"]]
    },
    {
        "id": "hr_extract",
        "type": "function",
        "z": "healthcare_iot_tab",
        "name": "Extract HR Value",
        "func": "msg.payload = msg.payload.value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 40,
        "wires": [["hr_gauge", "hr_chart"]]
    },
    {
        "id": "parse_heart_rate",
        "type": "json",
        "z": "healthcare_iot_tab",
        "name": "Parse HR Data",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 80,
        "wires": [["hr_range_check", "hr_chart", "store_hr_db"]]
    },
    {
        "id": "hr_range_check",
        "type": "function",
        "z": "healthcare_iot_tab",
        "name": "HR Range Check",
        "func": "const hr = msg.payload.value;\nconst timestamp = msg.payload.timestamp;\n\nif (hr < 60) {\n    msg.payload = {\n        alert: 'CRITICAL',\n        message: `Heart Rate Too Low: ${hr} bpm`,\n        value: hr,\n        timestamp: timestamp,\n        severity: 'high'\n    };\n    return [msg, null, null];\n} else if (hr > 100) {\n    msg.payload = {\n        alert: 'WARNING',\n        message: `Heart Rate Elevated: ${hr} bpm`,\n        value: hr,\n        timestamp: timestamp,\n        severity: 'medium'\n    };\n    return [null, msg, null];\n} else {\n    msg.payload = {\n        alert: 'NORMAL',\n        message: `Heart Rate Normal: ${hr} bpm`,\n        value: hr,\n        timestamp: timestamp,\n        severity: 'low'\n    };\n    return [null, null, msg];\n}\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 80,
        "wires": [["critical_alert", "alert_dashboard"], ["warning_alert", "alert_dashboard"], ["normal_status"]]
    },
    {
        "id": "critical_alert",
        "type": "debug",
        "z": "healthcare_iot_tab",
        "name": "Critical Alert",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 40,
        "wires": []
    },
    {
        "id": "warning_alert",
        "type": "debug",
        "z": "healthcare_iot_tab",
        "name": "Warning Alert",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 80,
        "wires": []
    },
    {
        "id": "normal_status",
        "type": "debug",
        "z": "healthcare_iot_tab",
        "name": "Normal Status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 120,
        "wires": []
    },
    {
        "id": "hr_gauge",
        "type": "ui_gauge",
        "z": "healthcare_iot_tab",
        "name": "Heart Rate Gauge",
        "group": "vitals_group",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Heart Rate",
        "label": "bpm",
        "format": "{{value}}",
        "min": "40",
        "max": "140",
        "colors": ["#e74c3c","#27ae60","#e74c3c"],
        "seg1": "60",
        "seg2": "100",
        "x": 320,
        "y": 40,
        "wires": []
    },
    {
        "id": "hr_chart",
        "type": "ui_chart",
        "z": "healthcare_iot_tab",
        "name": "HR Trend",
        "group": "charts_group",
        "order": 1,
        "width": 6,
        "height": 4,
        "label": "Heart Rate Trend",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "40",
        "ymax": "140",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#3498db","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 520,
        "y": 40,
        "wires": [[]]
    },
    {
        "id": "temp_mqtt",
        "type": "mqtt in",
        "z": "healthcare_iot_tab",
        "name": "Temperature",
        "topic": "healthcare/vitals/temperature",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker_config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 180,
        "wires": [["parse_temperature", "temp_extract"]]
    },
    {
        "id": "temp_extract",
        "type": "function",
        "z": "healthcare_iot_tab",
        "name": "Extract Temp Value",
        "func": "msg.payload = msg.payload.value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 140,
        "wires": [["temp_gauge", "temp_chart"]]
    },
    {
        "id": "parse_temperature",
        "type": "json",
        "z": "healthcare_iot_tab",
        "name": "Parse Temp Data",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 180,
        "wires": [["temp_range_check", "temp_chart"]]
    },
    {
        "id": "temp_range_check",
        "type": "function",
        "z": "healthcare_iot_tab",
        "name": "Temp Range Check",
        "func": "const temp = msg.payload.value;\nconst timestamp = msg.payload.timestamp;\n\nif (temp < 36.5 || temp > 37.5) {\n    msg.payload = {\n        alert: 'WARNING',\n        message: `Temperature Abnormal: ${temp}°C`,\n        value: temp,\n        timestamp: timestamp,\n        severity: 'medium'\n    };\n    return [msg, null];\n} else {\n    msg.payload = {\n        alert: 'NORMAL',\n        message: `Temperature Normal: ${temp}°C`,\n        value: temp,\n        timestamp: timestamp,\n        severity: 'low'\n    };\n    return [null, msg];\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 180,
        "wires": [["temp_alert"], ["temp_normal"]]
    },
    {
        "id": "temp_alert",
        "type": "debug",
        "z": "healthcare_iot_tab",
        "name": "Temp Alert",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 160,
        "wires": []
    },
    {
        "id": "temp_normal",
        "type": "debug",
        "z": "healthcare_iot_tab",
        "name": "Temp Normal",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 200,
        "wires": []
    },
    {
        "id": "temp_gauge",
        "type": "ui_gauge",
        "z": "healthcare_iot_tab",
        "name": "Temperature Gauge",
        "group": "vitals_group",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": "35",
        "max": "40",
        "colors": ["#3498db","#27ae60","#e74c3c"],
        "seg1": "36.5",
        "seg2": "37.5",
        "x": 320,
        "y": 140,
        "wires": []
    },
    {
        "id": "temp_chart",
        "type": "ui_chart",
        "z": "healthcare_iot_tab",
        "name": "Temp Trend",
        "group": "charts_group",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "Temperature Trend",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "35",
        "ymax": "40",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#e74c3c","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 530,
        "y": 140,
        "wires": [[]]
    },
    {
        "id": "spo2_mqtt",
        "type": "mqtt in",
        "z": "healthcare_iot_tab",
        "name": "SpO2",
        "topic": "healthcare/vitals/spo2",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker_config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 280,
        "wires": [["parse_spo2", "spo2_extract"]]
    },
    {
        "id": "spo2_extract",
        "type": "function",
        "z": "healthcare_iot_tab",
        "name": "Extract SpO2 Value",
        "func": "msg.payload = msg.payload.value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 240,
        "wires": [["spo2_gauge", "spo2_chart"]]
    },
    {
        "id": "parse_spo2",
        "type": "json",
        "z": "healthcare_iot_tab",
        "name": "Parse SpO2 Data",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 280,
        "wires": [["spo2_range_check", "spo2_chart"]]
    },
    {
        "id": "spo2_range_check",
        "type": "function",
        "z": "healthcare_iot_tab",
        "name": "SpO2 Range Check",
        "func": "const spo2 = msg.payload.value;\nconst timestamp = msg.payload.timestamp;\n\nif (spo2 < 95) {\n    msg.payload = {\n        alert: 'CRITICAL',\n        message: `SpO2 Low: ${spo2}%`,\n        value: spo2,\n        timestamp: timestamp,\n        severity: 'high'\n    };\n    return [msg, null];\n} else {\n    msg.payload = {\n        alert: 'NORMAL',\n        message: `SpO2 Normal: ${spo2}%`,\n        value: spo2,\n        timestamp: timestamp,\n        severity: 'low'\n    };\n    return [null, msg];\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 280,
        "wires": [["spo2_alert"], ["spo2_normal"]]
    },
    {
        "id": "spo2_alert",
        "type": "debug",
        "z": "healthcare_iot_tab",
        "name": "SpO2 Alert",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 260,
        "wires": []
    },
    {
        "id": "spo2_normal",
        "type": "debug",
        "z": "healthcare_iot_tab",
        "name": "SpO2 Normal",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 300,
        "wires": []
    },
    {
        "id": "spo2_gauge",
        "type": "ui_gauge",
        "z": "healthcare_iot_tab",
        "name": "SpO2 Gauge",
        "group": "vitals_group",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Blood Oxygen",
        "label": "%",
        "format": "{{value}}",
        "min": "85",
        "max": "100",
        "colors": ["#e74c3c","#f39c12","#27ae60"],
        "seg1": "92",
        "seg2": "95",
        "x": 310,
        "y": 240,
        "wires": []
    },
    {
        "id": "spo2_chart",
        "type": "ui_chart",
        "z": "healthcare_iot_tab",
        "name": "SpO2 Trend",
        "group": "charts_group",
        "order": 3,
        "width": 6,
        "height": 4,
        "label": "SpO2 Trend",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "85",
        "ymax": "100",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#27ae60","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 530,
        "y": 240,
        "wires": [[]]
    },
    {
        "id": "bp_mqtt",
        "type": "mqtt in",
        "z": "healthcare_iot_tab",
        "name": "Blood Pressure",
        "topic": "healthcare/vitals/blood_pressure",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker_config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 380,
        "wires": [["parse_bp", "bp_extract"]]
    },
    {
        "id": "bp_extract",
        "type": "function",
        "z": "healthcare_iot_tab",
        "name": "Extract BP Value",
        "func": "// Blood pressure needs special formatting\nmsg.payload = {\n    systolic: msg.payload.systolic,\n    diastolic: msg.payload.diastolic\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 340,
        "wires": [["bp_text"]]
    },
    {
        "id": "parse_bp",
        "type": "json",
        "z": "healthcare_iot_tab",
        "name": "Parse BP Data",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 380,
        "wires": [["bp_range_check"]]
    },
    {
        "id": "bp_range_check",
        "type": "function",
        "z": "healthcare_iot_tab",
        "name": "BP Range Check",
        "func": "const systolic = msg.payload.systolic;\nconst diastolic = msg.payload.diastolic;\nconst timestamp = msg.payload.timestamp;\n\nif (systolic < 90 || systolic > 140 || diastolic < 60 || diastolic > 90) {\n    msg.payload = {\n        alert: 'WARNING',\n        message: `Blood Pressure Abnormal: ${systolic}/${diastolic} mmHg`,\n        systolic: systolic,\n        diastolic: diastolic,\n        timestamp: timestamp,\n        severity: 'medium'\n    };\n    return [msg, null];\n} else {\n    msg.payload = {\n        alert: 'NORMAL',\n        message: `Blood Pressure Normal: ${systolic}/${diastolic} mmHg`,\n        systolic: systolic,\n        diastolic: diastolic,\n        timestamp: timestamp,\n        severity: 'low'\n    };\n    return [null, msg];\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 380,
        "wires": [["bp_alert"], ["bp_normal"]]
    },
    {
        "id": "bp_alert",
        "type": "debug",
        "z": "healthcare_iot_tab",
        "name": "BP Alert",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 360,
        "wires": []
    },
    {
        "id": "bp_normal",
        "type": "debug",
        "z": "healthcare_iot_tab",
        "name": "BP Normal",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 400,
        "wires": []
    },
    {
        "id": "bp_text",
        "type": "ui_text",
        "z": "healthcare_iot_tab",
        "group": "vitals_group",
        "order": 4,
        "width": 4,
        "height": 2,
        "name": "Blood Pressure",
        "label": "Blood Pressure",
        "format": "{{msg.payload.systolic}}/{{msg.payload.diastolic}} mmHg",
        "layout": "row-spread",
        "x": 320,
        "y": 340,
        "wires": []
    },
    {
        "id": "alert_dashboard",
        "type": "ui_toast",
        "z": "healthcare_iot_tab",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "Alert Toast",
        "x": 770,
        "y": 440,
        "wires": []
    },
    {
        "id": "store_hr_db",
        "type": "http request",
        "z": "healthcare_iot_tab",
        "name": "Store to MongoDB",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:3000/api/vitals",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 540,
        "y": 480,
        "wires": [[]]
    },
    {
        "id": "vitals_group",
        "type": "ui_group",
        "name": "Vital Signs",
        "tab": "dashboard_tab",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "charts_group",
        "type": "ui_group",
        "name": "Trends",
        "tab": "dashboard_tab",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "dashboard_tab",
        "type": "ui_tab",
        "name": "Healthcare Monitor",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
